# Las variables de entorno se pueden configurar como variables del sistema
# o en un archivo .end como este, usando python-dotenv en los scripts
MINIO_ACCESS_KEY=...
MINIO_SECRET_KEY=...
MOBILITY_DATABASE_REFRESH_TOKEN=...
NYC_OPEN_DATA_TOKEN=...
CLIENT_ID_SEATGEEK=...
SETLIST_API_KEY=...
WANDB_API_KEY = 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
